In [102]:
from dbconn_base2 import querydb, querydbtopandas 
import pandas as pd

In [103]:
#con esto veo el mes 11
menor = "2019-07-01"
mayor = "2019-12-30"

In [105]:
pd.set_option('display.max_columns', 500)

In [129]:
querydbtopandas("""select top 100 * from prestad_dom_corresp
                    join prestadores on (prestad_dom_corresp.prestad= prestadores.prestad)
                    where prestad_dom_corresp.prestad in (24711)""")

,Id_Dom_Corresp,prestad,domi_val,calle,numero,piso,depto,cp,telefono,nombre,observaciones,cod_barr,deno_barr,cod_loca,deno_loca,cod_part,deno_part,cod_prov,deno_prov,x,y,Alta_fecha,Modi_fecha,Baja_Fecha,Usuario,tele_anterior,bloq_tele,tipo_vali_dom,prestad,tipo,refe,ape_razon,nombre_abre,sexo,civil_esta,naci_fecha,nacio,matri_naci,matri_prov,matri_prov_provin,docu_tipo,docu_nro,cuit,domi,loca,tele,postal_codi,cheque_orden,iva,iva_reten,ganan_reten,ganan_exen_hasta,social_previ,ingre_brutos_nro,ingre_brutos_reten,pago_dia,pago_perio,pago_tipo,bole_canti,corresp,contac,asoc_marca,anter_prestad,obser1,obser2,lugar,alta_fecha,baja_moti,baja_fecha,inhab_fecha,sucur,modi_fecha,expor,expor_fecha,email,tel1,tel2,tel3,envia_boletin,copias_boletin,factura_credito,nro_legajo,SSS,SSS_vigente,agregado,es_empleador,valida_contra_padron,entregar_doc,entrega_doc_en_sucursal,digitalizable,fec_envio_sap,cod_sap,envio_cheque,proveedor,valor_unitario,envio_rem,habilita_web,grupo_repo,Habilita_ADP_Web,Tel_Celular,ult_act_padron,Habilita_CGP,presenta_recibo_a,tele_anterior,bloq_tele
0,105429,24711,V,LARREA,958,8,None,1117,4585-2919 / (15)4412-0967,Temprano,None,109,RECOLETA,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,-58.401928,-34.596798,2012-10-01 15:54:57.797,2012-10-01 15:54:57.797,None,SA,4585-2919 / (15)4412-0967,S,None,24711,P,Dr.,Temprano,Rolando A.,M,2,1956-12-25,Arg.,61132,None,None,DU,12439721,23124397219,CUENCA 2020,1,4585-2919 / (15)4412-0967,None,TEMPRANO ROLANDO,1,S,N,None,None,None,N,None,None,None,1,4,None,A,Swiss,CMSL Docthos todos menos Db/Dp/Pt Nov-05/NU1 A...,"Re Credencialización, Jul-12 / Padrón Equipo:...",4,1997-05-22,None,None,None,1,2020-02-12 15:00:00,None,None,tempranor@gmail.com,(15) 4412-0967,,,N,0,N,None,None,None,None,None,,N,S,N,2020-04-28 02:33:04.893,2312439721,None,None,0,None,0,None,1,None,None,None,False,4585-2919 / (15)4412-0967,S

In [130]:
querydbtopandas("""select top 100 * from prestad_dom_corresp
                    where prestad_dom_corresp.prestad in (24711)""")

,Id_Dom_Corresp,prestad,domi_val,calle,numero,piso,depto,cp,telefono,nombre,observaciones,cod_barr,deno_barr,cod_loca,deno_loca,cod_part,deno_part,cod_prov,deno_prov,x,y,Alta_fecha,Modi_fecha,Baja_Fecha,Usuario,tele_anterior,bloq_tele,tipo_vali_dom
0,105429,24711,V,LARREA,958,8,None,1117,4585-2919 / (15)4412-0967,Temprano,None,109,RECOLETA,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,-58.401928,-34.596798,2012-10-01 15:54:57.797,2012-10-01 15:54:57.797,None,SA,4585-2919 / (15)4412-0967,S,None

In [131]:
querydbtopandas("""select top 10 * from prestadores
where prestad in (24711)""")

,prestad,tipo,refe,ape_razon,nombre_abre,sexo,civil_esta,naci_fecha,nacio,matri_naci,matri_prov,matri_prov_provin,docu_tipo,docu_nro,cuit,domi,loca,tele,postal_codi,cheque_orden,iva,iva_reten,ganan_reten,ganan_exen_hasta,social_previ,ingre_brutos_nro,ingre_brutos_reten,pago_dia,pago_perio,pago_tipo,bole_canti,corresp,contac,asoc_marca,anter_prestad,obser1,obser2,lugar,alta_fecha,baja_moti,baja_fecha,inhab_fecha,sucur,modi_fecha,expor,expor_fecha,email,tel1,tel2,tel3,envia_boletin,copias_boletin,factura_credito,nro_legajo,SSS,SSS_vigente,agregado,es_empleador,valida_contra_padron,entregar_doc,entrega_doc_en_sucursal,digitalizable,fec_envio_sap,cod_sap,envio_cheque,proveedor,valor_unitario,envio_rem,habilita_web,grupo_repo,Habilita_ADP_Web,Tel_Celular,ult_act_padron,Habilita_CGP,presenta_recibo_a,tele_anterior,bloq_tele
0,24711,P,Dr.,Temprano,Rolando A.,M,2,1956-12-25,Arg.,61132,None,None,DU,12439721,23124397219,CUENCA 2020,1,4585-2919 / (15)4412-0967,None,TEMPRANO ROLANDO,1,S,N,None,None,None,N,None,None,None,1,4,None,A,Swiss,CMSL Docthos todos menos Db/Dp/Pt Nov-05/NU1 A...,"Re Credencialización, Jul-12 / Padrón Equipo:...",4,1997-05-22,None,None,None,1,2020-02-12 15:00:00,None,None,tempranor@gmail.com,(15) 4412-0967,,,N,0,N,None,None,None,None,None,,N,S,N,2020-04-28 02:33:04.893,2312439721,None,None,0,None,0,None,1,None,None,None,False,4585-2919 / (15)4412-0967,S

In [125]:
querydbtopandas("""select top 10 * from prestad_lugares_norm
where prestad in (70)""")

,prestad,lugar,domi_val,calle,numero,piso,depto,cp,observaciones,cod_barr,deno_barr,cod_loca,deno_loca,cod_part,deno_part,cod_prov,deno_prov,x,y,tipo_vali_dom
0,70,1,N,ZZZZZBOYACÁ 108,NaN,None,None,1406,None,98,FLORES,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,0,0,NaN
1,70,2,N,ZZZZZ20070901RODRIGUEZ PEÑA 1137 - 1° C,NaN,None,None,1663,None,None,None,1839,SAN MIGUEL,117,SAN MIGUEL,1,BUENOS AIRES,0,0,NaN
2,70,3,V,MONTES DE OCA,1100.0,None,None,1648,None,None,None,1939,TIGRE,124,TIGRE,1,BUENOS AIRES,-58.582355,-34.429176,NaN
3,70,4,N,ZZZZZRAMÓN L. FALCÓN 2181 - 4° PISO,NaN,None,None,1406,None,98,FLORES,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,0,0,NaN
4,70,5,V,CNEL R L FALCON,2181.0,2,None,1406,zzzzz20130201,98,FLORES,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,-58.459023,-34.628937,NaN
5,70,6,N,MAESTRO ANGEL DELIA,1606.0,3,B,1663,,None,None,1839,SAN MIGUEL,117,SAN MIGUEL,1,BUENOS AIRES,-58.736272,-34.553924,NaN
6,70,7,V,AV GRAL JUAN M DE PUEYRREDON,1461.0,None,None,1118,,109,RECOLETA,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,-58.401900,-34.593824,NaN
7,70,8,V,USO INTERNO,0.0,None,None,1118,,None,None,2102,CIUDAD AUTONOMA BUENOS AIRES,135,CAPITAL FEDERAL,2,CAPITAL FEDERAL,0.000000,0.000000,2.0

In [166]:
querydbtopandas("""select * from costo_centros """)

         centro                           deno alta_fecha baja_fecha
0    10segur00         Seguros Internacionales 2002-06-21        NaT
1    1cardi00                      Cardiología 1997-08-19        NaT
2    1clinm00                   Clínica Médica 1997-08-19        NaT
3    1clinm01         Clinica Medica-Med.Fliar 1997-08-19 2003-04-05
4    1clinm02    Clinica Medica- Hon.Med.Empr. 1997-08-19 2003-04-05
..          ...                            ...        ...        ...
178  9Optic00                          Opticas 1998-03-09        NaT
179  9proveed00                    Proveedores 2009-08-06        NaT
180  9quemcl00     Clín.Sanat.Inst.del Quemado 1998-08-17        NaT
181  9rehab00       Clínicas de Rehabilitación 1998-07-08        NaT
182  clim0                      Clinica Medica 1997-08-19 1998-09-02

[183 rows x 4 columns]

# PORQUE ACA TENGO SOLO 279 MIL SI HAY COMO 3 MILLONES DE PRESTADORES

In [179]:
querydbtopandas("""select * from prestad_costo_centros""")

,prepaga,prestad,tipo,centro,alta_fecha,baja_fecha,espe
0,2,70,001,2derma00,1998-05-01,NaT,1100.0
1,2,71,001,4oftal00,1998-10-09,NaT,1700.0
2,4,71,001,4oftal00,2005-11-04,NaT,1700.0
3,2,72,001,1clinm00,2015-04-24,NaT,100.0
4,2,72,002,2alerg00,2013-09-26,2015-04-24 16:11:00,NaN
...,...,...,...,...,...,...,...
279430,2,258348,001,5pract14,2020-04-28,NaT,3800.0
279431,2,258349,001,5pract14,2020-04-28,NaT,3800.0
279432,2,258350,001,5pract14,2020-04-28,NaT,3800.0
279433,2,258351,001,5pract14,2020-04-28,NaT,3800.0
279434,2,258352,001,1clinm00,2020-04-28,NaT,100.0

In [138]:
querydbtopandas("""select * from especialidades""")

,espe,exten_deno,abre_deno,alta_fecha,baja_fecha,codigo_actividad,publica,Habilita_CGP
0,1,Cirugía Ginecológica Pediátrica,Cirugía Ginecológica Pediátrica,1997-05-09 00:00:00,NaT,32,None,0
1,2,Diabetología,Diabetología,1997-05-09 00:00:00,NaT,32,None,0
2,3,Diabetología Pediátrica,Diabetología Pediátrica,1997-05-09 00:00:00,NaT,32,None,0
3,4,Estimulación Temprana,Estimulación Temprana,1997-05-09 00:00:00,NaT,16,N,0
4,5,Prótesis,Prótesis,1997-05-09 00:00:00,NaT,32,N,0
...,...,...,...,...,...,...,...,...
538,9996,Resonancia Magnética Nuclear ART,Resonancia Magnética Nuclear ART,1997-04-25 00:00:00,NaT,None,None,0
539,9997,No Priorizar,No Priorizar,1997-04-25 00:00:00,NaT,None,None,0
540,9998,Ortopedia - ODONTO,Ortopedia - ODONTO,2004-02-09 00:00:00,NaT,None,None,0
541,9999,Estudios Cefalómetros,Estudios Cefalómetros,1997-04-14 00:00:00,NaT,None,None,0
542,10000,Uso interno,Uso interno,2014-04-03 13:04:00,2014-10-09,32,None,0

In [181]:
querydbtopandas("""select *
from prestad_costo_centros PCC
LEFT JOIN costo_centros cc on PCC.centro = cc.centro 
where PCC.baja_fecha is null
""" )

,prepaga,prestad,tipo,centro,alta_fecha,baja_fecha,espe,centro,deno,alta_fecha,baja_fecha
0,2,70,001,2derma00,1998-05-01,None,1100.0,2derma00,Dermatología,1997-08-19,None
1,2,71,001,4oftal00,1998-10-09,None,1700.0,4oftal00,Oftalmología,1997-08-19,None
2,4,71,001,4oftal00,2005-11-04,None,1700.0,4oftal00,Oftalmología,1997-08-19,None
3,2,72,001,1clinm00,2015-04-24,None,100.0,1clinm00,Clínica Médica,1997-08-19,None
4,2,73,001,4ginec00,2015-04-30,None,300.0,4ginec00,Ginecología,1997-08-19,None
...,...,...,...,...,...,...,...,...,...,...,...
222417,2,258348,001,5pract14,2020-04-28,None,3800.0,5pract14,Ecografía / Radiología,1998-01-29,None
222418,2,258349,001,5pract14,2020-04-28,None,3800.0,5pract14,Ecografía / Radiología,1998-01-29,None
222419,2,258350,001,5pract14,2020-04-28,None,3800.0,5pract14,Ecografía / Radiología,1998-01-29,None
222420,2,258351,001,5pract14,2020-04-28,None,3800.0,5pract14,Ecografía / Radiología,1998-01-29,None
222421,2,258352,001,1clinm00,2020-04-28,None,100.0,1clinm00,Clínica Médica,1997-08-19,None

In [100]:
df = querydbtopandas(f"""SELECT DISTINCT
    cpe.prestad prestador,
    cpe.prestac ,
    afilmed.dbo.afn_ape_nom_afilmed_de_presmed (cpe.contra, cpe.inte , null, 'S') afiliado,
    cpe.cantidad ,
    cpe.fecha_vig,
    cpe.conve_excep,    
    valor_referencia, 
    valor_presupuestado, 
    valor_excepcion, 
    valor_liqui,
    pre.ape_razon AS prestador_nombre
      FROM conve_prestaciones_exc cpe
      INNER JOIN prestad_lugares pl ON cpe.prestad = pl.prestad 
       AND cpe.lugar = pl.lugar 
       AND cpe.baja_fecha is null
      INNER JOIN prestad_lugares_norm pln ON cpe.prestad = pln.prestad 
       AND cpe.lugar = pln.lugar  
      INNER JOIN prestadores pre ON cpe.prestad = pre.prestad
      LEFT  JOIN conve_valores_exc cve ON cpe.conve_excep = cve.conve_excep
       AND cve.baja_fecha is null 
      LEFT JOIN conceptos con ON cve.concep = con.concep
      WHERE (cpe.fecha_vig >= ("{menor}") AND cpe.fecha_vig <= ("{mayor}"))""")

q_excepciones = df.groupby(["prestador", "prestador_nombre"])["cantidad"].sum()

q_afiliados =  df.groupby(["prestador", "prestador_nombre"])["afiliado"].nunique()

valor_presupuestado =  df.groupby(["prestador", "prestador_nombre"])["valor_presupuestado"].sum()

valor_excepcion =  df.groupby(["prestador", "prestador_nombre"])["valor_excepcion"].sum()

valor_liqui =  df.groupby(["prestador", "prestador_nombre"])["valor_liqui"].sum()

final = pd.concat([q_excepciones,q_afiliados,valor_presupuestado,valor_excepcion,valor_liqui],axis=1).reset_index()

final = final.sort_values(by= "cantidad",ascending= False)

final.reset_index(drop=True, inplace=True)

In [101]:
final

,prestador,prestador_nombre,cantidad,afiliado,valor_presupuestado,valor_excepcion,valor_liqui
0,36877,Instituto Frenopático,306,10,1246690.01,0.23,1261640.00
1,1130,Hospital Italiano,248,146,13974269.59,2120974.90,11555071.04
2,26108,Alexander Fleming - Instituto Médico Especiali...,151,121,12373400.10,1090529.02,12789720.81
3,208857,Las Vertientes,134,4,5065.35,0.07,5065.35
4,81416,Ineba - Instituto de Neurociencias Buenos Aires,127,2,19730.85,0.07,19730.85
...,...,...,...,...,...,...,...
319,85269,Centro Urológico Dr. Ricardo Rasguido,1,1,0.00,15000.00,15000.00
320,28103,Instituto de Diagnóstico y Tratamiento Ambulat...,1,1,33645.79,0.01,33645.79
321,85464,Molina,1,1,12190.00,10445.20,12190.00
322,27966,Moro,1,1,65000.00,0.01,65000.00
323,244782,Bionet,1,1,98252.00,56258.78,98252.00

In [98]:
pd.read_csv("correcto.csv", index_col=0).round(2)

,prestador,prestador_nombre,cantidad,afiliado,valor_presupuestado,valor_excepcion,valor_liqui
0,36877,Instituto Frenopático,306,10,1246690.01,0.23,1261640.00
1,1130,Hospital Italiano,248,146,13974269.59,2120974.90,11555071.04
2,26108,Alexander Fleming - Instituto Médico Especiali...,151,121,12373400.10,1090529.02,12789720.81
3,208857,Las Vertientes,134,4,5065.35,0.07,5065.35
4,81416,Ineba - Instituto de Neurociencias Buenos Aires,127,2,19730.85,0.07,19730.85
...,...,...,...,...,...,...,...
318,85269,Centro Urológico Dr. Ricardo Rasguido,1,1,0.00,15000.00,15000.00
319,28103,Instituto de Diagnóstico y Tratamiento Ambulat...,1,1,33645.79,0.01,33645.79
320,85464,Molina,1,1,12190.00,10445.20,12190.00
321,27966,Moro,1,1,65000.00,0.01,65000.00
322,244782,Bionet,1,1,98252.00,56258.78,98252.00

In [99]:
(pd.read_csv("correcto.csv", index_col=0).round(2) == final.round(2)).all()

prestador              True
prestador_nombre       True
cantidad               True
afiliado               True
valor_presupuestado    True
valor_excepcion        True
valor_liqui            True
dtype: bool